header, footer {
    background-color: #2f3136;
    border-radius: 10px;
    text-align: center;
    padding: 0;
    margin: 10px;
}

footer > div {
    display: inline-block;
}

main {
    background-color: #36393f;
    padding: 0;
    margin: 0;
    width: 100%;
    margin: 0 10px 0 10px;
    text-align: center;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #36393f;
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
}

h1, h3 {
    padding: 10px;
    margin: 0;
}

#dropzone {
    border-style: dashed;
    border-width: 4px;
    border-color: aqua;
    border-radius: 15px;
    width: 50%;
    display: inline-block;
    padding: 10px;
}

#inputbutton {
    padding: 5px;
    border-style: solid;
    border-color: gray;
    margin: 50px;
    display: inline;
}

#inputbutton:hover {
    background-color: gray;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
    align-content: center;
}

.container > div {
    display: block;
    width: 90%;
    background-color: #2f3136;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

.container > div > h4 {
    text-align: left;
    font-weight: 100;
    font-size: larger;
    margin: 10px;
    position: relative;
}

.container > div > h4 > span {
    text-align: right;
    float: right;
    color: aqua;
    position: relative;
}

.container > div > h4 > span > .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 99;
}
  
.container > div > h4 > span:hover .tooltiptext {
    visibility: visible;
}

#avatar {
    width: 100px;
    border-radius: 50%;
}

#resultblock {
    text-align: left;
}